main > .container {
    padding: 70px 10px 0px 10px;
}
/* Store this code in 'style.css' file inside the 'static' folder*/

.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid;
    border-radius: 0px;
}

.btn {
    padding: 10px 40px;
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid;
    border-radius: 10px;
    background-color:#aaaaaa;
}

.textbox{
    padding: 10px 40px;
    text-color: #000000;
    border-radius: 10px;
}
    
::placeholder {
    color: #646464;
    opacity: 1;
    font-size: 12pt;
}

.word{
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
}

.bottom{
    color: #236B8E;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 100px;
}
