<!-- 
    a simple login page that contains a form for the user to enetr their information, and a link 
    that redirects the user to the sign up page
 -->

{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div>
        <ol class="breadcrumb small" style="margin-top:100px;">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">login</li>
        </ol>
    </div>
</div>
<div class="col-xl-4 mx-auto">
    <div class="card mb-4">
        <div align="center">

            <h1 class="fs-4 card-title fw-bold mt-5">Login</h1>
        </div>
        <div class="card-body">
            <form action="{{ url_for('login') }}" method="post">


                <div class="m-4">

                    <input class="form-control" id="username" name="username" type="text" placeholder="Username">
                </div>
                <div class="m-4">

                    <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                </div>
                <div class="m-4">
                    <center><input type="submit" class="btn btn-primary" value="Login"></center>
                </div>
                <div class="m-4">
                    <p class="bottom">Don't have an account? <a class="bottom" href="{{ url_for('signup') }}"> Sign Up
                            here</a></p>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}