{% extends 'base.html' %}
{% block body %}
<head>
    <title>Workout Plan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        } 
         


        table {
            max-width: 100%;
            width:96%;
            margin-top: 5%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 2%;
            border: 3px;
            border-collapse: collapse;
        } 
    
        th, td {
            border: 1px solid #ddd;
            padding: 15px;  
            text-align: left;
        }
    </style>
</head>
<body>  
    <table> 
        <tr>
            <th>Exercise</th>  
            <th>Sets</th>
            <th>Reps</th>
            <th>Rest</th>
            <th>Completed</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td>{{ exercise.name }}</td> 
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.rest }}</td>
            <td><input type="checkbox" name="select"></td> 
        </tr>
        {% endfor %}
    </table> 
</body>
{% endblock %}
